
.Logo {
    display: flex;
    width: 95px;
    
}

.paginas {
    font-size: 1.3rem;
    color: $color_1;
    font-size: 15px;
    transition: all 0.3s ease;
    filter: grayscale(70%);

    &:hover {
        text-decoration: underline;
        color: $color_2;
        font-weight: bold;
        filter: grayscale(0%);
        transform: scale(1);
    }
}

.colorfondo {
    background-color: $background-color_2;
}

