$color_1: white black;
$color_2: black;
$color_3: white;
$color_4: #EECCC7;
$color_5: green;
$font-family_1: 'Poppins', sans-serif;
$background-color_1: white;
$background-color_2: #EECCC7;
$background-color_3: black;
$background-color_4: green;